/* App.css */
.app-container {
  font-family: 'Arial', sans-serif;
  background-color: #f9f0ff; /* Light lavender background */
  color: #333;
  padding: 20px;
  display: flex;          /* Enable flexbox */
  flex-direction: column; /* Stack items vertically */
  align-items: center;    /* Center items horizontally */
  justify-content: flex-start; /* Align items to the top */
  min-height: 100vh;      /* Ensure full viewport height */
  margin: 0 auto;       /* Center horizontally */
  max-width: 800px;      /* Optional: Limit width */
}

.app-title {
  color: #7957a8; /* Darker lavender for headings */
  margin-bottom: 20px;
}

.predicted-age-card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin-bottom: 20px;
  text-align: center;
  color: #553980;
}

.results-button {
  background-color: #c3aed6; /* Button color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.results-button:hover {
  background-color: #7957a8;
}

.results-button:disabled {
  background-color: #ddd;
  cursor: not-allowed;
}